champ filter=lfs diff=lfs merge=lfs -text
champ/bedroom.webp filter=lfs diff=lfs merge=lfs -text
champ/castle.jpg filter=lfs diff=lfs merge=lfs -text
champ/combatArena.webp filter=lfs diff=lfs merge=lfs -text
champ/defenseWithShield.dd2vtt filter=lfs diff=lfs merge=lfs -text
champ/map.dd2vtt filter=lfs diff=lfs merge=lfs -text
champ/stoneCircle.webp filter=lfs diff=lfs merge=lfs -text
champ/Meetinghall.webp filter=lfs diff=lfs merge=lfs -text
champ/apartment_floors.webp filter=lfs diff=lfs merge=lfs -text
champ/castleWithShield.jpg filter=lfs diff=lfs merge=lfs -text
gods/ProtectionValor.webp filter=lfs diff=lfs merge=lfs -text
gods/justiceorder.webp filter=lfs diff=lfs merge=lfs -text
gods/lifeHealing.webp filter=lfs diff=lfs merge=lfs -text
gods/naturebalance.webp filter=lfs diff=lfs merge=lfs -text
gods/sunLight.webp filter=lfs diff=lfs merge=lfs -text
gods/wisdomknowledge.webp filter=lfs diff=lfs merge=lfs -text
gods/[[:space:]]RavenQueen.webp filter=lfs diff=lfs merge=lfs -text
gods/Kelemvor.webp filter=lfs diff=lfs merge=lfs -text
dreadlordsDomain/voidlordPhase1.png filter=lfs diff=lfs merge=lfs -text
dreadlordsDomain/voidlordPhase2.png filter=lfs diff=lfs merge=lfs -text
dreadlordsDomain/demonThrone.png filter=lfs diff=lfs merge=lfs -text
dreadlordsDomain/fairyGlade.png filter=lfs diff=lfs merge=lfs -text
dreadlordsDomain/lichesthroneRoom.png filter=lfs diff=lfs merge=lfs -text
dreadlordsDomain/peaks.png filter=lfs diff=lfs merge=lfs -text
pastThePortals/lichesCastle.png filter=lfs diff=lfs merge=lfs -text
pastThePortals/mountaintop.png filter=lfs diff=lfs merge=lfs -text
pastThePortals/battlefield.png filter=lfs diff=lfs merge=lfs -text
pastThePortals/feyForest.png filter=lfs diff=lfs merge=lfs -text
pastThePortals/hell.png filter=lfs diff=lfs merge=lfs -text
dreadlordsDomain/realFairyqueenGlade.png filter=lfs diff=lfs merge=lfs -text
